<% include ./partials/head.ejs %>


<link rel="stylesheet" href="/css/404.css">

<!-- <head>
	<title>404</title>
</head> -->

	<div class="wrap">
		<div class="logo">
			<h1>404</h1>
			<p>Une erreur est survenue ! - La page n'a pas été trouver</p>
			<div class="sub">
				<p><a onclick="window.history.go(-1);return false" href="#">Retour</a></p>
			</div>
		</div>
	</div>
<% include ./partials/footer.ejs %>